# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Logs
*.log

# Rider / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker (optional, depending)
docker-compose.override.yml